<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar de usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">
  <ion-item>
    <ion-label position="floating">Nome do usuário</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  
  <ion-item >
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>
  
  <ion-item >
    <ion-label position="floating">Confirmar Password</ion-label>
    <ion-input type="Confirmar password"></ion-input>
  </ion-item>

  <ion-button color="success">Enviar</ion-button>
  <ion-button color="danger">Cancelar</ion-button>
</form>
</ion-content>
